.item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  min-width: 300px;
}
.name {
  font-weight: bold;
}
.number {
  color: #555;
}

.delBtn {
  min-width: 60px;
  padding: 10px 0;
  border: 1px solid red;
  background-color: rgb(228, 139, 154);
  border-radius: 4px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.delBtn:hover {
  background-color: rgb(221, 70, 95);
}

.icon {
  margin-right: 5px;
}
